{% extends "users/email/base_email.html" %}
{% load i18n %}

{% block email_title %}
    {% trans "Login link - Monkey Budget" context "magic_link_email" %}
{% endblock %}

{% block email_header %}
    {% trans "Your Login Link" context "magic_link_email" %}
{% endblock %}

{% block email_content %}
    <p>{% trans "Hello" context "magic_link_email" %} {{ user.first_name }},</p>
    <p>{% trans "You requested a login link. Click the button below to log in to your account:" context "magic_link_email" %}</p>
    
    <p class="text-center">
        <a href="{{ login_url }}" class="button">{% trans "Log in" context "magic_link_email" %}</a>
    </p>
    
    <p>{% trans "This link will expire in 15 minutes for security reasons." context "magic_link_email" %}</p>
    <p>{% trans "If you did not request this login link, please ignore this message." context "magic_link_email" %}</p>
    
    <p class="mt-20">{% trans "With regards," context "magic_link_email" %}<br>
    {% trans "Monkey Budget Team" context "magic_link_email" %}</p>
{% endblock %} 