{% extends "users/email/base_email.html" %}
{% load i18n %}

{% block email_title %}
    {% trans "Zresetuj swoje hasło - Monkey Budget" context "password_reset_email" %}
{% endblock %}

{% block email_header %}
    {% trans "Żądanie zmiany hasła" context "password_reset_email" %}
{% endblock %}

{% block email_content %}
    <p>{% trans "Witaj" context "password_reset_email" %} {{ user.first_name }},</p>
    <p>{% trans "Otrzymałeś żądanie zmiany hasła. Kliknij poniżej, aby ustawić nowe hasło:" context "password_reset_email" %}</p>
    
    <p class="text-center">
        <a href="{{ reset_url }}" class="button">{% trans "Zresetuj hasło" context "password_reset_email" %}</a>
    </p>
    
    <p>{% trans "Jeśli nie zażądałeś zmiany hasła, proszę zignorować tę wiadomość." context "password_reset_email" %}</p>
    
    <p class="mt-20">{% trans "Pozdrawiamy," context "password_reset_email" %}<br>
    {% trans "Zespół Monkey Budget" context "password_reset_email" %}</p>
{% endblock %} 