<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Pokaż konta</title>
    <link rel="stylesheet" href="{% static 'account/account_menu.css' %}">
</head>
<body>
    <header>
      <h1>Moje konta</h1>
    </header>
    <div>
        {% if accounts %}
            <ul>
                {% for account in accounts %}
                <a href="konta/{{account.id}}" target="_blank">{{account}}</a>
                <br>
                {%endfor%}
            </ul>
        {%else%}
            <p>Brak kont do wyświetlenia</p>
        {%endif%}
    </div>
</body>
</html>
