{% load static %}
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Budget{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
{% endblock head %}
<body>
    {% block side-menu %}
        <div class="bg-secondary p-3 mb-3">
            <div class="offcanvas offcanvas-start" id="demo">
              <div class="offcanvas-header">
                <h1 class="offcanvas-title" style="font-family: 'Papyrus', cursive">Moje konta</h1>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
              </div>
              <div class="offcanvas-body">
                  {% for account in accounts %}
                        <a class='btn btn-primary' href="{% url 'pokaz-konto' account.id%}">{{account}}</a>
                        <br>
                  {% endfor %}
                  <a class='btn btn-info' href="{% url 'dodaj-konto'%}">Dodaj konto</a>
                  <br>
                  <h1 class="offcanvas-title" style="font-family: 'Papyrus', cursive">Transakcje</h1>
                  <br>
<!--                  trzeba dodać odnośniki do odpowiednich widoków transakcji-->
                  <a class='btn btn-info'>Dodaj transakcję</a><br>
                  <a class='btn btn-info'>Wyświetl transakcje</a><br>
                  <br><br><br>
                  <a class='btn btn-secondary' href="{% url 'dashboard'%}">Powrót do strony głównej</a><br>
              </div>
            </div>
        </div>
    {% endblock side-menu %}

    {% block show-side-menu %}
        <div class="container-fluid mt-3">
            <div class="bg-info p-3">
              <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
                Otwórz menu
              </button>
            </div>
        </div>
    {% endblock show-side-menu %}

    {% block content %}
    <br>
    <h1 class="display-1 lead text-center" style="font-family: 'Papyrus', cursive">Monkey Budget</h1>
    <img src="{% static 'images/money.jpg' %}" class="d-block mx-auto" alt="Centered Image" width="500" height="600">
    {% endblock content %}

</body>
</html>
