{% extends "account/base.html" %}
<html lang="en">

{% block head %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Raporty{% endblock %}</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
{% endblock head %}

<body>
    {% block side-menu %}
        {{ block.super }}
    {% endblock side-menu%}

    {% block show-side-menu %}
    {{ block.super }}
    {% endblock show-side-menu %}

    {% block content %}
        <br>
        <h1 class="display-3 lead text-center"
            style="font-family: 'Papyrus', cursive" >Podsumowanie wydatków i wpływów</h1>
        <div class="container">
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                        <b>{{ field.label_tag }}</b>
                        {{ field }}
                <button type="submit">Wyświetl raport</button>
            </form>
        </div>

    {% if report_data %}
    <div class="mt-4">
        <h2>Raport dla konta: {{report_data.account_name}}</h2>
        <p>Saldo: {{ report_data.balance }}</p>
    </div>
    {% endif %}

    {% endblock content %}

</body>
</html>