{% extends "account/base.html" %}
<html lang="en">

{% block head %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Raporty{% endblock %}</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
{% endblock head %}

<body>
    {% block side-menu %}
        {{ block.super }}
    {% endblock side-menu%}

    {% block show-side-menu %}
    {{ block.super }}
    {% endblock show-side-menu %}

    {% block content %}
        <div class="container">
            <h1 class="display-3 lead text-center mb-4" style="font-family: 'Papyrus', cursive">Podsumowanie wydatków i wpływów</h1>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form method="post" class="mb-4">
                        {% csrf_token %}
                        {% bootstrap_form form label_class="fw-bold" %}
                        <button type="submit" class="btn btn-primary">Wyświetl raport</button>
                    </form>
                </div>
            </div>

            {% if report_data %}
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center">
                        <h3>Raport:</h3>
                        <ul class="list-group">
                            {% for account in report_data %}
                                <li class="list-group-item">
                                    {{ account.name }}: {{ account.balance }} {{ account.currency }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    {% endblock content %}


</body>
</html>
