{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}

    {% block content %}

    <h3>Wybierz zakres dat:</h3>
        <div>
              <div>
                  <form method="post">
                      {% csrf_token %}
                      {% bootstrap_form form label_class="fw-bold" %}
                      <button type="submit" class="btn btn-primary">Wyświetl raport</button>
                  </form>
              </div>
        </div>

        <h1>Podsumowanie wybranego okresu:</h1>
            <h2>{{ start_date }} - {{ end_date }}</h2>

                {% for balance in currency_incomes_outcomes_balance.balances %}
                        <br><h2>Waluta: {{balance.currency_code }}</h2>
                        <h3>Saldo na koniec wybranego okresu: {{ balance.balance_after_period }}{{balance.currency_code }}</h3>
                        <h3>Suma wydatków: {{ balance.outcomes_total.total_sum }}{{balance.currency_code }}</h3>
                        <h3>Suma przychodów: {{ balance.incomes_total.total_sum }}{{balance.currency_code }}</h3>
                        <h3>Bilans wydatków i przychodów: {{ balance.income_outcome_balance }}{{balance.currency_code }}</h3>
                {% endfor %}
<!--            <h3>Najpopularniejsze kategorie wydatków:</h3>-->
<!--            <h3>Najpopularniejsze kategorie przychodów:</h3>-->

<!--            <h3>{{ date_filtered_transactions }}</h3>-->

    {% endblock content %}
