{% extends "account/base.html" %}
<html lang="en">

    {% block head %}
        <head>
            <meta charset="UTF-8">
            <title>{% block title %}Raporty{% endblock %}</title>
            {% load django_bootstrap5 %}
            {% bootstrap_css %}
            {% bootstrap_javascript %}
        </head>
    {% endblock head %}

<body>
    {% block side-menu %}
        {{ block.super }}
    {% endblock side-menu%}

    {% block show-side-menu %}
        {{ block.super }}
    {% endblock show-side-menu %}

    {% block content %}

    <h3>Wybierz zakres dat:</h3>
        <div>
              <div>
                  <form method="post">
                      {% csrf_token %}
                      {% bootstrap_form form label_class="fw-bold" %}
                      <button type="submit" class="btn btn-primary">Wyświetl raport</button>
                  </form>
              </div>
        </div>

    <h1>Podsumowanie wybranego okresu:</h1>
        <h2>{{ start_date }} - {{ end_date }}</h2>
        {% for transaction in all_transactions %}
            <h3>transaction</h3>
        {% endfor %}


    {% endblock content %}

</body>
</html>