{% extends "account/base.html" %}
<html lang="en">

{% block head %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Konta{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
{% endblock head %}

<body>
    {% block side-menu %}
        {{ block.super }}
    {% endblock side-menu%}

    {% block show-side-menu %}
    {{ block.super }}
    {% endblock show-side-menu %}

    {% block content %}
            <div>
                <h1>Szczegóły konta: {{account.name}} </h1>
            </div>
            <div>
                <h3><br> Stan konta: {{account.balance}} {{account.currency_code}}</h3>
                <h3><br> Typ: {{account.get_type_display_name}}</h3>
                <h3><br> Opis: {{account.description}}</h3>
            </div>

        <form action="{% url 'usun-konto' account.id %}" method="post" onsubmit="return confirm('Czy na pewno chcesz usunąć konto?');">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Usuń konto</button>
        </form>
    {% endblock content %}
</body>
</html>
