{% extends "base.html" %}
{% load static %}

    {% block content %}
        <div class="container">
            <div>
                <div>
                    <h1>Szczegóły konta: {{account.name}} </h1>
                </div>
                <div>

                    <h3><br> Stan konta: {{account.balance_formatted}}</h3>
                    <h4><br> Typ: {{account.get_type_display_name}}</h4>
                    <h5><br> Opis: {{account.description}}</h5>
                </div>
                <div style="display: inline-flex;">
                    <form id="deleteForm" action="{% url 'monkey_budget:usun-konto' account.id %}" method="post">
                        {% csrf_token %}
                        <button type="button" class="btn btn-danger" onclick="deleteAccount()">Usuń konto</button>
                    </form>
                    <form action="{% url 'monkey_budget:edytuj-konto' account.id %}" method="get">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Edytuj konto</button>
                    </form>
                </div>
            </div>
        </div>

        <section>
            {{ transactions_list_html|safe }}
        </section>

        <script>
        function deleteAccount() {
            if (confirm('Czy na pewno chcesz usunąć konto?')) {
                fetch('{% url "monkey_budget:usun-konto" account.id %}', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json',
                    },
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert(data.message);
                        window.location.href = '{% url "monkey_budget:home" %}';
                    } else {
                        alert('Wystąpił błąd podczas usuwania konta.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Wystąpił błąd podczas usuwania konta.');
                });
            }
        }
        </script>
    {% endblock %}
