<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Szczegóły konta</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="offcanvas offcanvas-start" id="demo">
      <div class="offcanvas-header">
        <h1 class="offcanvas-title">Moje konta</h1>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
      </div>
      <div class="offcanvas-body">
          {% for account in accounts %}
                <a href="{% url 'pokaz-konto' account.id%}">{{account}}</a>
                <br>
          {% endfor %}
      </div>
    </div>


    <div class="container-fluid mt-3">
      <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
        Otwórz spis kont
      </button>
    </div>
        <div>
            <h1>Szczegóły konta: {{account.name}} </h1>
        </div>
        <div>
            <h3><br> Stan konta: {{account.balance}} {{account.currency_code}}</h3>
            <h3><br> Typ: {{account.get_type_display_name}}</h3>
            <h3><br> Opis: {{account.description}}</h3>
        </div>

    <a class="btn btn-danger delete-account" href="{% url 'usun-konto' account.id %}">Usuń konto</a>


</body>
</html>
